
body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	}

img{display:block; margin:0; padding:0; border:none;}

br.clear{clear:both; margin-top:-15px;}

a{
	color:#B2C629;
	outline:none;
	text-decoration:none;
	}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl, .imgr{border:1px solid #999999; padding:5px;}
.imgl{float:left; margin:0 8px 8px 0; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; clear:right;}

.Submit {float:right; width:90px;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

.col1{color:#CCCCCC; background-image: url('/images/floral.png'); background-size: 100%; }
.col3{color:#1D1D1D;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAF0F7', endColorstr='#FFFFFF'); /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#FAF0F7), to(#FFFFFF)); /* for webkit browsers */
      background: -moz-linear-gradient(top,  #FAF0F7,  #FFFFFF); /* for firefox 3.6+ */ ;}
.col3 a{color:#95AD19; background-color:#FFFFFF;}


/* ----------------------------------------------Generalise-------------------------------------*/

#header, #topbar, #homepage, #container{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:20px 0;
	z-index:1000;
	}

#header #logo{
	display:block;
	float:left;
	width:300px;
	overflow:hidden;
	color:#FF4599;
	font-size:large;
	font-weight:600;
	}

#header #logo h1, #header #logo p{
	margin:0;
	padding:0;
	line-height:normal;
	}

#header #logo h1{
	font-size:40px;
	text-transform:uppercase;
	font-weight: 800;
	}

#header h1 a{
	color:#AB0075;
	}

.homepage{
	display:block;
	width:100%;
	margin:15px 0 0 0;
	padding:0;
    	}

.homepage ul{
	margin:0;
	padding:0;
	list-style:none;
	}

.homepage li{
	display:block;
	float:left;
	width:300px;
	height: 30em;
	margin:20px 30px 20px 0;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	background-color:#D2E3FA;
	}

.homepage li.last{margin-right:0; width:185px; height:15em;}

.homepage li h2{
	display:block;
	width:100%;
	height:35px;
	padding:15px 0 0 0;
	font-weight:bold;
	font-size: 20px;
	line-height:normal;
	border-bottom:1px dotted #000000;
	color:#7A7A7A;
	}

.homepage li h2 img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #999999;
	color:#7A7A7A;
	}

.homepage p{
	margin:0 0 25px 0;
	padding:0;
	line-height:1.6em;
	color: #7A7A7A;
	}
	
.reminder
{
    
    background-color: #FFFFFF;
    padding: 10px 10px 5px 10px;
    margin: 10px 5px 5px 5px;
    border-radius: 15px;
    color: #7A7A7A;

}
