
body{
	margin:0;
	padding:0;
	font-size:13px;
	font-family:verdana, Arial, Helvetica, sans-serif;
	}

img{display:block; margin:0; padding:0; border:none;}

br.clear{clear:both; margin-top:-15px;}

.fl_left{float:left;}
.fl_right{float:right;}

.imgl, .imgr{border:1px solid #999999; padding:5px;}
.imgl{float:left; margin:0 8px 8px 0; clear:left;}
.imgr{float:right; margin:0 0 8px 8px; clear:right;}

.Submit {float:right; width:90px;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	margin:0;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

.col1{color:#CCCCCC; background-image: url('/images/floral.jpg'); background-size: 100%; }
.col3{color:#1D1D1D;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAF0F7', endColorstr='#FFFFFF'); /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#FAF0F7), to(#FFFFFF)); /* for webkit browsers */
      background: -moz-linear-gradient(top,  #FAF0F7,  #FFFFFF); /* for firefox 3.6+ */ ;}
.col3 a{color:#95AD19; background-color:#FFFFFF;}


/* ----------------------------------------------Generalise-------------------------------------*/

#header, #topbar, #homepage, #container{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:20px 0;
	z-index:1000;
	}

#header #logo{
	display:block;
	float:left;
	width:300px;
	overflow:hidden;
	color:#FF4599;
	font-size:large;
	font-weight:600;
	}

#header #logo h1, #header #logo p{
	margin:0;
	padding:0;
	line-height:normal;
	}

#header #logo h1{
	font-size:40px;
	text-transform:uppercase;
	font-weight: 800;
	}

#header h1 a{
	color:#AB0075;
	}

#links{
	padding:20px 0;
	}

#links ul{
	margin:0;
	padding:0;
	list-style:none;
	}

#links ul li{display:inline;}
#links ul li.current a{text-decoration:underline;}

#topnav{
	display:block;
	float:right;
	margin:7px 0 0 0;
	padding:0;
	list-style:none;
	font-size:14px;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}

#topnav ul{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	
	}
	
#topnav li
{
    float:left;
	border-radius: 15px;
	margin:0;
	padding:0;
	background-color:#D2E3FA;
}

#topnav li a:link, #topnav li a:visited, #topnav li a:hover{
	display:block;
	margin:0;
	padding:15px 20px;
	color:#999999;
	background-color:#D2E3FA;
	
	}

#topnav li.last a{
	margin-right:0;
	}

#topnav li a:hover, #topnav ul li.active a{
	color:#FFFFFF;
	background-color:#C2E0FF;
	}
	
#topnav li li a:link, #topnav li li a:visited{
	width:150px;
	float:none;
	margin:0;
	padding:7px 10px;
	font-size:12px;
	font-weight:normal;
	}

#topnav li ul{
	z-index:9999;
	position:absolute;
	left:-999em;
	height:auto;
	width:170px;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	}

#topnav li ul a{width:140px;}

#topnav li ul ul{margin:-32px 0 0 0;}

#topnav li:hover ul ul{left:-999em;}

#topnav li:hover ul, #topnav li li:hover ul{left:auto;}

#topnav li:hover{position:static;}

#topnav li.last a{margin-right:0;}

.homepage{
	display:block;
	width:100%;
	margin:15px 0 0 0;
	padding:0;
    	}

.homepage ul{
	margin:0;
	padding:0;
	list-style:none;
	}

.homepage li{
	display:block;
	float:left;
	width:300px;
	height: 30em;
	margin:20px 30px 20px 0;
	padding: 10px 10px 10px 10px;
	border-radius: 15px;
	background-color:#D2E3FA;
	}

.homepage li.last{margin-right:0; width:185px; height:15em;}

.homepage li.middle {width: 800px; height: 30em;}

.homepage li h2{
	display:block;
	width:100%;
	height:35px;
	padding:15px 0 0 0;
	font-weight:bold;
	font-size: 20px;
	line-height:normal;
	border-bottom:1px dotted #000000;
	color:#7A7A7A;
	}

.homepage li h2 img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #999999;
	color:#7A7A7A;
	}

.homepage p{
	margin:0 0 25px 0;
	padding:0;
	line-height:1.6em;
	color: #7A7A7A;
	}
	
.reminder
{
    
    background-color: #FFFFFF;
    padding: 10px 10px 5px 10px;
    margin: 10px 5px 5px 5px;
    border-radius: 15px;
    color: #7A7A7A;

}

@media screen {
	div#preloader {
		position: absolute;
		left: -9999px;
		top:  -9999px;
		}
	div#preloader img {
		display: block;
		}
	}
@media print {
	div#preloader, 
	div#preloader img {
		visibility: hidden;
		display: none;
		}
	}
